---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        year: 'Julio 2024 - Actualmente',
        title: 'Full Stack Teaching Assistant',
        Empresa: 'Henrry Bootcamp',
        description: 'Coordinar grupo de estudiantes, Asistencia en la resolución de ejercicios y fomentar la colaboración en grupo a través del pair programming, Guíar a los estudiantes en tecnologías como Nest, Express, React, Next y JavaScript',
        href: '#'
    },
    {    
        year: 'Febrero 2023 hasta Julio 2024',
        title: 'Tecnico en Reparacion y Mantenimiento de Computadoras y Dispositivos Moviles',
        Empresa: 'ABC Accesorios',
        description: 'En este puesto, me especialicé en la reparación, mantenimiento y optimización de computadoras y dispositivos móviles. Realicé diagnósticos y soluciones de hardware y software, asegurando que los equipos funcionaran de manera eficiente y sin interrupciones'+
        ' Además, proporcioné soporte técnico a usuarios, resolviendo problemas relacionados con el rendimiento de los dispositivos, la instalación de software, la configuración de redes y la recuperación de datos. ',
        href: '#'
    },
    {
        year: 'Febrero 2019 hasta Febrero 2023',
        title: 'IT Analyst - Desarrollo de Sistemas',
        Empresa: 'Alcaldia del Municipio Caripe',
        description: "En este rol, trabajé en la configuración, mantenimiento y administración de redes, asegurando el funcionamiento óptimo de la infraestructura tecnológica de la empresa. Además, fui responsable de la reparación y mantenimiento de computadoras, garantizando que todos los equipos estuvieran en perfectas condiciones operativas"+
        " Como parte de mis responsabilidades en el desarrollo de sistemas, diseñé y desarrollé una aplicación en Java para la administración de inventario. Esta aplicación permitía gestionar, controlar y distribuir eficientemente los bienes de la organización, mejorando la precisión en el seguimiento de los activos y optimizando el proceso de inventario en general.",
        href: '#'
    },
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">      
    {EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
    ))}            

</ol>


