
<footer class="bg-black/20 backdrop-blur-lg rounded-lg shadow ">
    <div class="w-full flex items-center justify-between p-4 md:flex md:items-center md:justify-around">
      <span class="text-sm text-black  sm:text-center dark:text-gray-400 ">© 2024 <a href="https://www.linkedin.com/in/josemavsg" class="hover:underline">Hecho with ❤ by JosemAVSG</a>
    </span>
    <ul class="flex flex-wrap  md:items-center  text-sm font-medium text-gray-black dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#/aboutme" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a href="mailto:jmgg.95n@gmail.com" class="hover:underline">Contact</a>
        </li>
    </ul>
    </div>
</footer>
