<header class="flex justify-between py-3 items-center w-[1120px] mx-auto">
    <img
        class="w-12 h-12 rounded-full"
        src="https://avatars.githubusercontent.com/u/107879363?s=400&u=37610b02b2a4947fc2cf337710d5e6986a40f695&v=4"
        alt="Avatar"
    />
    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <ul class="flex gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>