<header class="flex justify-between p-4 bg-slate-500 items-center">
    <h2><a href="/">Astro</a></h2>
    <nav class="">
        <ul class="flex gap-4">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>