---
import type { SocialLinkProps } from '../../types/molecules';

interface Props extends SocialLinkProps {}

const { href, label, icon: Icon, class: className } = Astro.props;
---

<li class:list={['list-none gap-4', className]}>
  <a
    class="flex flex-col justify-center items-center gap-1 hover:opacity-80 hover:bg-white/10 rounded-lg p-2 hover:scale-110 transition-all duration-500 ease-in-out"
    href={href}
    target="_blank"
    rel="noopener"
    aria-label={label}
  >
    <Icon class="w-10 h-10 fill-black dark:fill-white" />
    <span class="text-xs text-gray-600 dark:text-gray-400">{label}</span>
  </a>
</li>